.jumbotron {
	height: 300px;
	padding: 5px 0px 5px 0px;
}

#start {
	margin-left: 50px;
	font-size: 40px;
}

section {
	text-align: center;
}

#radio-1 {
	margin-left: 10px;
}

#radio-2 {
	margin-left: 10px;
}

#radio-3 {
	margin-left: 10px;
}

#radio-4 {
	margin-left: 10px;
}

#radio-5 {
	margin-left: 10px;
}

#radio-6 {
	margin-left: 10px;
}

#radio-7 {
	margin-left: 10px;
}

#radio-8 {
	margin-left: 10px;
}

 #radio-9 {
	margin-left: 10px;
}

#radio-10 {
	margin-left: 10px;
}

#radio-11 {
	margin-left: 10px;
}

#radio-12 {
	margin-left: 10px;
}

#radio-13 {
	margin-left: 10px;
}

#radio-14 {
	margin-left: 10px;
}

#radio-15 {
	margin-left: 10px;
}

#radio-16 {
	margin-left: 10px;
}

#radio-17 {
	margin-left: 10px;
}

#radio-18 {
	margin-left: 10px;
}

#radio-19 {
	margin-left: 10px;
}

#radio-20 {
	margin-left: 10px;
}

#radio-21 {
	margin-left: 10px;
}

#radio-22 {
	margin-left: 10px;
}

#radio-23 {
	margin-left: 10px;
}

#radio-24 {
	margin-left: 10px;
}

#radio-25 {
	margin-left: 10px;
}

#radio-26 {
	margin-left: 10px;
}

#radio-27 {
	margin-left: 10px;
}

#radio-28 {
	margin-left: 10px;
}

#radio-29 {
	margin-left: 10px;
}

#radio-30 {
	margin-left: 10px;
}

#radio-31 {
	margin-left: 10px;
}

#radio-32 {
	margin-left: 10px;
}
#radio-33 {
	margin-left: 10px;
}

#radio-34 {
	margin-left: 10px;
}

#radio-35 {
	margin-left: 10px;
}

#radio-36 {
	margin-left: 10px;
}

.btn {
	margin-bottom: 75px;
}
